.profilePic{
    border-radius: 100%;
    width: 30px;
    object-fit: cover;
}

.postPic{
    width: 100%;
    object-fit: cover;
}

.profileName{
    margin-left: 10px;
}
.container{
    display: flex;
    width:100%;
}

.containerItem{
    margin-right: 10px;
}

.comments{
    margin: 10px;
    width: fit-content;
}

.heart{
    height: 25px;
    object-fit: cover;
}

.addComment{
    margin-top: 6px;
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
    display: flex;
}

.addComment input{
    background: none;
    border: none;
    height: 16px;
    outline: none;
    font:inherit;
    padding: 0;
    width: 100%;
}

.addComment ::placeholder { 
    color: #999;
}

.addComment button{
    color:#3897f0;
    font-weight: 600;
    font-size: 16px;
}